{% extends "First/base.html" %}
{% block content %}
{% load static %}



<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">Hi! I’m <br>Arpit Gupta <br>Comp Engineer</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{% static 'First/images/illustrations/leaf-bg.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src="{% static 'First/images/illustrations/dots-cyan.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{% static 'First/images/illustrations/leaf-orange.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{% static 'First/images/illustrations/dots-orange.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{% static 'First/images/illustrations/leaf-yellow.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{% static 'First/images/illustrations/leaf-cyan.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{% static 'First/images/illustrations/dots-group-orange.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{% static 'First/images/illustrations/leaf-pink-round.png' %}" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{% static 'First/images/illustrations/leaf-cyan-2.png' %}" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="https://www.facebook.com/ArpitGupta"><i class="fab
     fa-facebook-f"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://www.instagram.com/ArpitGupta"><i class="fab fa-instagram"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://www.dribble.com/ArpitGupta"><i class="fab fa-dribbble"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://www.twitter.com/ArpitGupta"><i class="fab fa-twitter"></i></a></li>
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">Hey Guys It's Arpit here, I am persuing my computer engineering From Mit Academy of Engineering.
          Currently, I am in Third year, quite curious to learn
          different technologies. I like doing stuffs not reading theory.
          My Dream is to become </p><p>........</p>
        <a href="{% url 'doki-about' %}" class="btn btn-transparent">know more</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- skills -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Skills</h2>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157">
            <div class="wave" data-progress="90%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Web Design</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#9473e6">
            <div class="wave" data-progress="75%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Machine Learning</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#bdecf6">
            <div class="wave" data-progress="80%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Software Development</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#ffbcaa">
            <div class="wave" data-progress="70%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Object Oriented Design</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /skills -->

<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Internship</h2>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{% static 'First/images/experience/icon-1.png' %}" alt="icon">
        <p class="mb-0">June 2019 - Aug 2019</p>
        <h4>Web Developer</h4>
        <h6 class="text-light">MITAOE</h6>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{% static 'First/images/experience/icon-2.png' %}" alt="icon">
        <p class="mb-0">June 2020 - Aug 2020</p>
        <h4>Web Developer</h4>
        <h6 class="text-light">Paathshala</h6>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{% static 'First/images/experience/icon-3.png' %}" alt="icon">
        <p class="mb-0">Sep 2020 - Present</p>
        <h4>Software Developer</h4>
        <h6 class="text-light">CDAC</h6>
      </div>
    </div>
  </div>
</section>
<!-- ./experience -->

<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Education</h2>
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">2021</p>
            <h4>Computer Engineering</h4>
            <p class="mb-0 text-light">MIT Academy Of Engineering</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">2017</p>
            <h4>Higher Secondary Certificat</h4>
            <p class="mb-0 text-light">Kamla Nehru Junior College</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">2015</p>
            <h4>Secondary School Certificate</h4>
            <p class="mb-0 text-light">Shri Rajendra High School</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="{% static 'First/images/backgrounds/education-bg.png' %}" alt="bg-image">
</section>
<!-- /education -->

<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Services</h2>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti ti-palette icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Web Development</h4>
            <p>The website made using php or python as backend. Also using components like bootstrap, html, css, javascript, node.js, AJAX, etc for frontend .</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti ti-vector icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Desktop Application</h4>
            <p>Hello Everyone! Have a great day :) I am here to help you.
            Destop application made using electron,tkinter,eel,etc. If you want Desktop application please mail me.Thank You.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti ti-panel icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">App Development</h4>
            <p>Hello Everyone! Have a great day :) I am here to help you. If you want Application for you using flutter please mail me. Thank You.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /services -->



<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">PortFolio</h2>
      </div>
      {% for proj in projects|slice:":3" %}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <article class="card shadow">
          <img class="rounded card-img-top" src="media/{{ proj.project_img }}" alt="post-thumb" style="height: 240px;">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="blog-single.html">{{ proj.title }}</a>
            </h4>
            <h5 class="cars-text">{{ proj.date_posted|date:"F d,Y" }} </h5>
            <p class="cars-text">Hello Everyone! Have a great day :) I am here to help you. If you want to read further click Read More or you have any suggestion then please mail me. Thank You.</p>
            <a href="project/{{ proj.id }}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- /portfolio -->

<!-- testimonial -->
<!-- <section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Testimonials</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
  
        <div class="text-center testimonial-content">
          <i class="ti ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">Hello Everyone! Have a great day :) I am here to help you. If you want to know something or you have any suggestion then please mail me. Thank You. <strong>Flyke Operating System is super basic operating system.</strong> Design to solve basic arithmetical operations.
            It gives idea of how OS was in history.</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{% static 'First/images/testimonial/ceo1.jpeg' %}"
            alt="client-image">
          <h4 class="text-white">Arpit Gupta</h4>
          <h6 class="text-light mb-4">Creator, FlykeOS</h6>
        </div>
 
        <div class="text-center testimonial-content">
          <i class="ti ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">Hello Everyone! Have a great day :) I am here to help you. If you want to know something or you have any suggestion then please mail me. Thank You. <strong>Doki language is quite a simple programming language.</strong> This language supports basic arithmetics only, for now.</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{% static 'First/images/testimonial/ceo1.jpeg' %}"
            alt="client-image">
          <h4 class="text-white">Arpit Gupta</h4>
          <h6 class="text-light mb-4">Creator, Doki Langauge</h6>
        </div>

        <div class="text-center testimonial-content">
          <i class="ti ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">Hello Everyone! Have a great day :) I am here to help you. If you want to know something or you have any suggestion then please mail me. Thank You. <strong>Movie Master is recommendation engine.</strong> Recommendation are given with photos which is quite amuzing.</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{% static 'First/images/testimonial/ceo1.jpeg' %}"
            alt="client-image">
          <h4 class="text-white">Arpit Gupta</h4>
          <h6 class="text-light mb-4">Creator, Movie Master</h6>
        </div>
      </div>
    </div>
  </div>


  <img src="{% static 'First/images/backgrounds/map.png' %}" alt="map" class="img-fluid bg-map">
  <img src="{% static 'First/images/illustrations/dots-group-v.png' %}" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="{% static 'First/images/illustrations/leaf-orange.png' %}" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="{% static 'First/images/illustrations/dots-group-sm.png' %}" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="{% static 'First/images/illustrations/leaf-pink-round.png' %}" alt="bg-shape" class="img-fluid bg-shape-4">
  <img src="{% static 'First/images/illustrations/leaf-cyan.png' %}" alt="bg-shape" class="img-fluid bg-shape-5">
</section> -->
<!-- /testimonial -->

<!-- client logo slider -->
<section class="section pb-0">
  <div class="container">
    <div class="client-logo-slider d-flex align-items-center">
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-1.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-2.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-3.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-4.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-5.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-1.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-2.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-3.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-4.png' %}" alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
          src="{% static 'First/images/clients-logo/client-logo-5.png' %}" alt="client-logo"></a>
    </div>
  </div>
</section>
<!-- /client logo slider -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Blogs</h2>
      </div>
      {% for post in posts|slice:":3" %}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <article class="card shadow">
          <img class="rounded card-img-top" src="media/{{ post.post_img }}" alt="post-thumb" style="height:250px;">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="{{ post.id }}">{{ post.title }}</a>
            </h4>
            <p class="cars-text">{{ post.date_posted|date:"F d,Y" }} </p>
            <a href="blog/{{ post.id }}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- /blog -->

{% endblock content %}