{% extends "First/base.html" %}
{% load static %}
{% block content %}

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ object.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{% static 'First/images/illustrations/page-title.png' %}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{% static 'First/images/illustrations/leaf-pink-round.png' %}" alt="illustrations" class="bg-shape-2">
  <img src="{% static 'First/images/illustrations/dots-cyan.png' %}" alt="illustrations" class="bg-shape-3">
  <img src="{% static 'First/images/illustrations/leaf-orange.png' %}" alt="illustrations" class="bg-shape-4">
  <img src="{% static 'First/images/illustrations/leaf-yellow.png' %}" alt="illustrations" class="bg-shape-5">
  <img src="{% static 'First/images/illustrations/dots-group-cyan.png' %}" alt="illustrations" class="bg-shape-6">
  <img src="{% static 'First/images/illustrations/leaf-cyan-lg.png' %}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img class="rounded card-img-top" src="{{ object.post_img.url }}" alt="post-thumb">
      </div>
      <div class="col-lg-7">
        <article class="card shadow border">    
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="blog-single.html">{{ object.title }}</a>
            </h4>
            <h5 class="cars-text">{{ object.date_posted|date:"F d,Y" }} </h5>
            <p class="cars-text">{{ object.content }}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- portfolio -->

{% endblock content %}