{% extends "First/base.html" %}
{% load static %}
{% block content %}

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Blog</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{% static 'First/images/illustrations/page-title.png' %}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{% static 'First/images/illustrations/leaf-pink-round.png' %}" alt="illustrations" class="bg-shape-2">
  <img src="{% static 'First/images/illustrations/dots-cyan.png' %}" alt="illustrations" class="bg-shape-3">
  <img src="{% static 'First/images/illustrations/leaf-orange.png' %}" alt="illustrations" class="bg-shape-4">
  <img src="{% static 'First/images/illustrations/leaf-yellow.png' %}" alt="illustrations" class="bg-shape-5">
  <img src="{% static 'First/images/illustrations/dots-group-cyan.png' %}" alt="illustrations" class="bg-shape-6">
  <img src="{% static 'First/images/illustrations/leaf-cyan-lg.png' %}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in posts %}
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="{{ post.post_img.url }}" alt="post-thumb" style="height: 240px;">
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}
            </h4>
            <h5 class="cars-text">{{ post.date_posted|date:"F d,Y" }} </h5>
            <!-- <p class="cars-text">{{ post.content }}</p> -->
            <a href="{{ post.id }}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

{% endblock content %}