boto3
botocore
bs4
certifi
chardet
dj-database-url
Django
django-ckeditor
django-crispy-forms
django-icons
django-heroku
django-js-asset
django-storages
docutils
gunicorn
idna
jmespath
mysql
mysql-connector
mysqlclient
Pillow
psycopg2
python-dateutil
pytz
requests
s3transfer
six
urllib3
whitenoise
psycopg2-binary

