boto3==1.14.63
botocore==1.17.63
bs4==0.0.1
certifi==2023.7.22
chardet
dj-database-url
Django
django-ckeditor
django-crispy-forms
django-icons
django-heroku
django-js-asset
django-storages
docutils
gunicorn
idna
jmespath
mysql
mysql-connector
mysqlclient
Pillow
psycopg2
python-dateutil
pytz
requests
s3transfer
six
urllib3
whitenoise
psycopg2-binary

